* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .05rem;
    text-decoration: none;
}

body {
    background:
	linear-gradient(
        rgba(243, 245, 240, 0.5),
    	rgba(33, 136, 196, 0.7)
	
	),
	url(https://images.unsplash.com/photo-1581171383994-afd540b6a4da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-position: top;
    background-repeat: no-repeat;
	background-size: cover;
    height: auto;
    background-attachment: fixed;
}

.alpha-form {
    background-color: rgba(94, 112, 119, 0.8)!important;
    padding: 1.5em;
    border-radius: 5%;
    border-color: rgb(94, 112, 119);
}

.alpha-table {
    background-color: rgba(85, 216, 233, 0.7)!important;
    border-radius: 15px;
    border-color: rgb(94, 112, 119);
    font-style: italic;
}

.btn-lg:focus {
    outline: none !important;
}

.dropdown-item:hover {
    background-color: rgba(85, 216, 233, 0.7);
}

.upw {
    position: relative;
    bottom: 35px;
}

.upsh {
    border-top: 1px solid rgb(28, 95, 97);
    border-right: 1px solid rgb(28, 95, 97);
    border-left: 1px solid rgb(28, 95, 97);
    border-bottom: 1px dashed #777;
}

.downsh, .about-us {
    border-top: 1px solid rgb(28, 95, 97);
    border-right: 1px solid rgb(28, 95, 97);
    border-left: 1px solid rgb(28, 95, 97);
    border-bottom: 1px solid rgb(28, 95, 97);
}

.prester-art {
    height: 2.5em;
}

.prester-big {
    height: 15em;
}

/* @media only screen and (max-width: 1050px){
	footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
} */