* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .05rem;
    text-decoration: none;
}

body {
    background:
	linear-gradient(
		rgba(33, 136, 196, 0.8),
		rgba(243, 245, 240, 0.5)
	),
	url(https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?cs=srgb&dl=pexels-snapwire-46024.jpg&fm=jpg)
	;
	background-position: top;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.upper-right {
	position: absolute;
    right: 15px;
    top: 25px;
}

.upper-left {
	position: absolute;
    left: 15px;
    top: 18px;
}

.prester-logo {
	font-size: xx-large;
	font-style: italic;
}

.prester-big {
	height: 200px;
	margin: 6em 0.5em 0 0.5em;
	border: 3px solid white;
}

.prester-name {
	font-size: 40px;
	margin: 0.5em 0.5em 0 0.5em;
	text-shadow: -3px 3px 20px #777, 3px -3px 20px #777;
	color: rgb(204, 163, 27);
}

.prester-logo:hover, .prester-logo:active, .btn-sm:hover, .btn-lg:hover {
	text-decoration: none !important;
}

.visit-us-now {
	font-size: xx-large;
	padding: 0.3em 1em 0.3em 1em;
	background-color: rgba(21, 163, 199, 0.897);
	margin: 1em 1.5em 0.5em 1.5em;
	box-shadow: -2px 2px 4px black, 3px -3px 4px cyan, 5px -6px 4px black;
}

.visit-us-now:hover {
	background-color: rgb(223, 144, 26);
	color: white;
	box-shadow: 2px -1.5px 4px black, 2px 1.5px 4px black, -2px 1.5px 4px black, -2px -1.5px 4px black, 2.5px -2px 4px cyan, 2.5px 2px 4px cyan, -2.5px 2px 4px cyan, -2.5px -2px 4px cyan;
}

.alpha-bg {
    background-color: rgba(94, 112, 119, 0.8)!important;
    border-radius: 10px;
    border-color: rgb(94, 112, 119);
}

.landing-text {
	height: 80vh;
	overflow: scroll;
	margin: 5em 2em 0.5em 2em;
	background-color: rgba(102, 124, 131, 0.479)!important;
}

@media only screen and (max-width: 600px) {
	.prester-big {
		height: 100px;
	}

	.visit-us-now{
		font-size: x-large;
	}
}
